[Unit]
Description=Growatt Per-Connection Proxy Server

[Service]
SyslogIdentifier=groprx
User=jv
Group=jv
WorkingDirectory=/home/jv/tmp/
ExecStart=-/usr/bin/perl /home/jv/wrk/Growatt/scripts/growatt_server.pl --debug --systemd --remote
StandardInput=socket
StandardOutput=syslog
